.layout-4.common-home #content .so_advanced_search .heading-title h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 46px;
    padding: 50px 30px 20px 30px;
    color: #fff;
    margin: 0;
}