﻿@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #878787;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #109EDB; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
@media (min-width: 1200px) {
  .common-home .typeheader-6 {
    position: absolute;
    top: 0px !important;
    left: 0;
    z-index: 99;
    width: 100%;
    background-image: none; }
    .common-home .typeheader-6 .header-bottom > .container {
      background-color: #fff;
      width: 1170px;
      padding: 0;
      margin-top: 25px; } }

.common-home .typeheader-6.navbar-compact {
  position: fixed; }

.typeheader-6 {
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-6.navbar-compact .header-bottom {
    padding: 15px 0; }
  .typeheader-6 .header-top {
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccc; }
  .typeheader-6 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-6 .header-top .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-6 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-6 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex;
    float: right; }
  .typeheader-6 ul.top-link > li {
    line-height: 43px;
    position: relative;
    list-style: none;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 20px;
    margin-left: 20px; }
  .typeheader-6 ul.top-link > li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 11px;
    top: 17px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); }
  .typeheader-6 ul.top-link > li .btn-group {
    line-height: 43px; }
  .typeheader-6 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #ccc; }
  .typeheader-6 ul.top-link > li > a {
    color: #ccc; }
  .typeheader-6 ul.top-link > li > a i {
    margin-right: 5px; }
  .typeheader-6 .lang-curr > li .btn-group .btn-link {
    text-transform: uppercase; }
  .typeheader-6 .header-middle {
    clear: both;
    padding: 33px 0; }
  .typeheader-6 .top-log {
    float: right; }
  .typeheader-6 .top-log li {
    line-height: 43px; }
  .typeheader-6 .top-log li:first-child {
    padding-right: 0; }
  .typeheader-6 .top-log li a {
    color: #ccc; }
  .typeheader-6 .top-log li i {
    margin-right: 5px; }
  .typeheader-6 .compare, .typeheader-6 .top-link-wishlist {
    width: 44px;
    height: 44px;
    border: 2px solid #e5e5e5;
    font-size: 18px;
    color: #282828;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 42px; }
  .typeheader-6 .account {
    float: left;
    position: relative;
    margin: 0 5px;
    padding: 20px 0; }
  .typeheader-6 .account > a {
    display: block;
    line-height: 100%; }
  .typeheader-6 .account i {
    font-size: 24px;
    color: #222; }
  .typeheader-6 .account .dropdown-menu {
    right: -30px;
    left: auto; }
  .typeheader-6 .telephone {
    padding: 6px 0; }
  .typeheader-6 .socials li {
    display: inline-block;
    margin-right: 4px; }
  .typeheader-6 .socials li a {
    font-size: 14px;
    color: #aaa;
    width: 31px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    display: block; }
  .typeheader-6 .socials li a:hover {
    color: #fff; }
  .typeheader-6 .compare, .typeheader-6 .wishlist {
    float: right;
    margin-right: 20px; }
  .typeheader-6 .shopping_cart {
    float: right;
    width: 80px;
    height: 84px;
    text-align: center;
    position: relative;
    background-color: #f5f5f5; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    width: 80px;
    height: 81px;
    text-align: center;
    position: relative;
    background-color: #f5f5f5;
    display: block; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 30px;
    color: #282828;
    display: inline-block !important;
    margin-top: 27px; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    display: none; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: left;
    line-height: 100%; }
    .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2 {
      display: none; }
    .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
      width: 23px;
      height: 23px;
      line-height: 24px;
      text-align: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      position: absolute;
      top: 6px;
      left: 49px;
      font-size: 12px;
      color: #fff; }
    .typeheader-6 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
      display: none; }
  .typeheader-6 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto;
    color: #666; }
  .typeheader-6 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-6 .logo {
    line-height: 79px;
    padding: 0 30px; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li {
    padding: 0 25px 0 0;
    margin: 0; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.with-sub-menu > a {
    position: relative;
    padding-right: 13px; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.with-sub-menu > a::after {
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 14px;
    color: #fff;
    top: 24px;
    right: -1px;
    position: absolute; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.with-sub-menu > a strong {
    position: relative; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.with-sub-menu > a strong::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 4px;
    bottom: -17px;
    left: 50%;
    margin-left: -15px;
    background-color: #fff;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a {
    background-color: transparent;
    position: relative;
    padding: 0px;
    line-height: 50px;
    padding: 16px 0; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a:hover strong::before {
    width: 30px; }
